<section id="blog" class="section">
  <div class="container">
    <!-- SECTION TITLE -->
    <div class="section-title">
      <h4 class="text-uppercase"><i class="title-icon fa fa-pencil-square"></i>Posts</h4>
    </div>
      <ul>
          {% for post in site.posts %}
          {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
          <li style="margin-top: 15px">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          {% endfor %}
      </ul>
  </div>
</section>
