<section id="portfolios" class="section">
  <div class="container">
    <div class="section-title">
      <h4 class="text-uppercase"><i class="title-icon fa fa-archive"></i>Projects</h4>
    </div>
    <ul>
      <li style="margin-top: 15px">
        <a href="https://warden.co" target="_BLANK">Warden.co</a>: SaaS security service (sunsetted)
      </li>
      <li style="margin-top: 15px">
        <a href="https://coinfloor.com" target="_BLANK">Coinfloor</a>: UK's leading cryptocurrency exchange group
      </li>
      <li style="margin-top: 15px">
        <a href="http://swift-on-chain.co.uk" target="_BLANK">SWIFT on Chain</a>: Paper on routing EFTs through cryptographic IOUs 
      </li>
    </ul>
  </div>
</section>
