<section id="portfolios" class="section">
  <div class="container">
    <!-- SECTION TITLE -->
    <div class="section-title">
      <h4 class="text-uppercase text-center"><i class="title-icon fa fa-archive"></i>Projects</h4>
    </div>
    <div id="portfolios-card" class="row">

      <!--CATEGORIES CONTENT-->
      <div class="tab-content">

        <!--All CATEGORIES-->

        <!--CATEGORY CONTENT ONE SMALL-->
        <div class="col-md-4 col-sm-6 col-xs-12 grid inLeft">
          <figure class="port-effect">
            <img src="images/coinfloor_logo.png" class="" alt="portfolio-demo"/>
            <figcaption>
              <p>Co-founded Coinfloor, the UK's largest bitcoin exchange in 2012</p>
              <a href="https://coinfloor.co.uk" target="_blank">See More</a>
            </figcaption>
          </figure>
        </div>
        <!--CATEGORY CONTENT TWO SMALL-->
        <div class="col-md-4 col-sm-6 col-xs-12 grid inRight">
          <figure class="port-effect">
            <img src="images/swift_on_chain_logo.png" class="" alt="portfolio-demo"/>
            <figcaption>
              <p>Proposal to route SWIFT Electronic Funds Transfers through IOUs on the
                Bitcoin Blockchain in order to reduce counterparty risk and costs.</p>
              <a href="http://swift-on-chain.co.uk" target="_blank">See More</a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
